.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
}

.map-frame {
  border: 0px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

#currentLocationButton {
  position: absolute;
  top: 85px;
  left: 12px;
  padding: 7px;
  z-index: 1000;
}

#navigationButton {
  position: absolute;
  top: 135px;
  left: 12px;
  padding: 7px;
  z-index: 1000;
}

#loginButton {
  position: absolute;
  bottom: 30px;
  left: 12px;
  padding: 7px;
  z-index: 1000;
}

#addMarkerButton {
  position: absolute;
  bottom: 90px;
  left: 12px;
  padding: 7px;
  z-index: 1000;
}

.btn-Light {
  background-color: whitesmoke;
  border-width: 2px;
  border-color: rgb(179, 179, 179);
  border-radius: 3.5px;
}

.zindex {
  z-index: 99000 !important;
}

#addMarkerAlert {
  position: absolute;
  width: 65%;
  left: 17.5%;
  bottom: 5%;
  text-align: center;
  z-index: 1000;
}