<!-- Login Modal -->
<ng-template #userLogin let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Σύνδεση στην εφαρμογή</h1>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="userEmail" class="col-form-label">Email:</label>
        <input type="email" class="form-control" id="userEmail" name="userEmail" [(ngModel)]="userEmail">
      </div>
      <div class="mb-3">
        <label for="userPassword" class="col-form-label">Κωδικός:</label>
        <input type="password" class="form-control" id="userPassword" name="userPassword" [(ngModel)]="userPassword">
      </div>
      <small class="mb-3">
        <p><a class="link-offset-2 link-underline link-underline-opacity-0 fw-light"
            (click)="EnterMailForPasswordReset()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key"
              viewBox="0 0 16 16">
              <path
                d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5" />
              <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
            </svg>
            Ξέχασα τον κωδικό μου
          </a></p>
      </small>
      <div class="mb-3">
        <label *ngIf="isCredentialsWrong" class="text-danger">{{ errorMessageToShow }}</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
      (click)="dismissUserLoginModal()">Άκυρο</button>
    <button type="button" class="btn btn-primary" (click)="AuthenticateUser()">Σύνδεση</button>
  </div>
</ng-template>

<!-- Reset Password Modal -->
<ng-template #resetPassword let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Επαναφορά κωδικού πρόσβασης</h1>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3 text-wrap fw-light">
        Εφόσον η διεύθυνση ηλεκτρονικού ταχυδρομείου που εισάγετε είναι έγκυρη, θα λάβετε μήνυμα για
        επαναφορά του κωδικού πρόσβασης.
      </div>
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" name="userEmail" [(ngModel)]="userEmail">
      </div>
      <div class="mb-3">
        <p><a class="link-offset-2 link-underline link-underline-opacity-0" (click)="ReturnToSignIn()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
            Επιστροφή στη σύνδεση</a></p>
      </div>
      <button *ngIf="!emailSent" type="submit" class="btn btn-primary col-12" (click)="ResetPassword()">Επαναφορά
        κωδικού πρόσβασης</button>
      <button *ngIf="emailSent" type="button" class="btn btn-info col-12">Το μήνυμα στάλθηκε!</button>
    </form>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
      (click)="dismissUserLoginModal()">Άκυρο</button>
    <button type="button" class="btn btn-primary" (click)="AuthenticateUser()">Σύνδεση</button>
  </div> -->
</ng-template>

<!-- Manage User Account Modal -->
<ng-template #manageUserAccount let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Διαχείριση Λογαριασμού</h1>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3 d-grid text-center mx-auto">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
          (click)="PrepareToUpdateUserPassword()">Αλλαγή κωδικού πρόσβασης</button>
      </div>
      <div class="mb-3 d-grid text-center mx-auto">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
          (click)="UserSignOutConfirmation()">Αποσύνδεση</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
      (click)="dismissUserLoginModal()">Επιστροφή</button>
  </div>
</ng-template>

<!-- SignOut Confirmation Modal -->
<ng-template #userSignOut let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Αποσύνδεση</h1>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label class="col-form-label">Θέλετε σίγουρα να αποσυνδεθείτε;</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
      (click)="ManageUserAccount()">Επιστροφή</button>
    <button type="button" class="btn btn-primary" (click)="UserSignOut()">Αποσύνδεση</button>
  </div>
</ng-template>

<!-- Update Password Modal -->
<ng-template #updatePassword let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Νέος κωδικός πρόσβασης</h1>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="newUserPassword" class="col-form-label">Κωδικός:</label>
        <input type="password" class="form-control" id="newUserPassword" name="newUserPassword"
          [(ngModel)]="newUserPassword">
      </div>
      <div class="mb-3">
        <label for="newUserPasswordConfirmation" class="col-form-label">Επαλήθευση κωδικού:</label>
        <input type="password" class="form-control" id="newUserPasswordConfirmation" name="newUserPasswordConfirmation"
          [(ngModel)]="newUserPasswordConfirmation">
      </div>
      <div class="mb-3">
        <label
          *ngIf="(newUserPassword != newUserPasswordConfirmation) && (newUserPassword.length>5 && newUserPasswordConfirmation.length>5)"
          class="text-danger">Ο κωδικοί πρόσβασης δεν ταιριάζουν.</label>
      </div>
      <div class="mb-3">
        <label
          *ngIf="!isPassword6Characters && (newUserPassword == newUserPasswordConfirmation) && (!(newUserPassword.length>5) || !(newUserPasswordConfirmation.length>5))"
          class="text-danger">O κωδικός πρέπει να περιέχει τουλάχιστον 6 χαρακτήρες.</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="ManageUserAccount()">Άκυρο</button>
    <button type="button" class="btn btn-primary" (click)="UpdateUserPassword()">Αποθήκευση</button>
  </div>
</ng-template>

<!-- Update POI Modal -->
<ng-template #details let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Επεξεργασία κρουνού</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="fireHydrantAddress" class="col-form-label">Οδός:</label>
        <input type="text" class="form-control" id="fireHydrantAddress" name="fireHydrantAddress"
          [(ngModel)]="fireHydrantAddress">
      </div>
      <div class="mb-3">
        <label for="fireHydrantType" class="col-form-label">Τύπος:</label>
        <select id="fireHydrantType" class="form-control" name="fireHydrantType" [(ngModel)]="fireHydrantType">
          <option value="" selected disabled>
            Επιλέξτε...
          </option>
          <option value="fire_hydrant">
            Κρουνός
          </option>
          <option value="water_tank">
            Δεξαμενή
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="fireHydrantState" class="col-form-label">Κατάσταση:</label>
        <select id="fireHydrantState" class="form-control" name="fireHydrantState" [(ngModel)]="fireHydrantState">
          <option value="" selected disabled>
            Επιλέξτε...
          </option>
          <option value="active">
            Ενεργό
          </option>
          <option value="inactive">
            Μη Ενεργό
          </option>
          <option value="undefined">
            Δεν Ελέγχθηκε
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="hoseDiameter" class="col-form-label">Διάμετρος μάνικας:</label>
        <select id="hoseDiameter" class="form-control" name="hoseDiameter" [(ngModel)]="hoseDiameter">
          <option value="" selected disabled>
            Επιλέξτε...
          </option>
          <option value="25">
            25
          </option>
          <option value="45">
            45
          </option>
          <option value="65">
            65
          </option>
          <option value="undefined">
            Αόριστο
          </option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
      (click)="dismissDetailsModal()">Άκυρο</button>
    <button type="button" class="btn btn-primary" (click)="UpdateFireHydrantsPOI()">Αποθήκευση</button>
  </div>
</ng-template>

<!-- Add new POI Modal -->
<ng-template #detailsToPost let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Προσθήκη κρουνού</h1>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="fireHydrantAddress" class="col-form-label">Οδός:</label>
        <input type="text" class="form-control" id="fireHydrantAddress" name="fireHydrantAddress"
          [(ngModel)]="fireHydrantAddress">
      </div>
      <div class="mb-3">
        <label for="fireHydrantType" class="col-form-label">Τύπος:</label>
        <select id="fireHydrantType" class="form-control" name="fireHydrantType" [(ngModel)]="fireHydrantType">
          <option value="" selected disabled>
            Επιλέξτε...
          </option>
          <option value="fire_hydrant">
            Κρουνός
          </option>
          <option value="water_tank">
            Δεξαμενή
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="fireHydrantState" class="col-form-label">Κατάσταση:</label>
        <select id="fireHydrantState" class="form-control" name="fireHydrantState" [(ngModel)]="fireHydrantState">
          <option value="" selected disabled>
            Επιλέξτε...
          </option>
          <option value="active">
            Ενεργό
          </option>
          <option value="inactive">
            Μη Ενεργό
          </option>
          <option value="undefined">
            Δεν Ελέγχθηκε
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="hoseDiameter" class="col-form-label">Διάμετρος μάνικας:</label>
        <select id="hoseDiameter" class="form-control" name="hoseDiameter" [(ngModel)]="hoseDiameter">
          <option value="" selected disabled>
            Επιλέξτε...
          </option>
          <option value="25">
            25
          </option>
          <option value="45">
            45
          </option>
          <option value="65">
            65
          </option>
          <option value="undefined">
            Αόριστο
          </option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
      (click)="dismissDetailsModal()">Άκυρο</button>
    <button type="button" class="btn btn-primary" (click)="PostFireHydrantPOI()">Αποθήκευση</button>
  </div>
</ng-template>

<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>

    <!-- test orientation -->
    <!-- <div id="orientation" class="alert alert-light" role="alert">
      {{ this.alpha }} 
    </div> -->

    <button type="button" id="currentLocationButton" class="btn btn-Light" (click)="GetUserLocation()"><svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-crosshair"
        viewBox="0 0 16 16">
        <path
          d="M8.5.5a.5.5 0 0 0-1 0v.518A7 7 0 0 0 1.018 7.5H.5a.5.5 0 0 0 0 1h.518A7 7 0 0 0 7.5 14.982v.518a.5.5 0 0 0 1 0v-.518A7 7 0 0 0 14.982 8.5h.518a.5.5 0 0 0 0-1h-.518A7 7 0 0 0 8.5 1.018zm-6.48 7A6 6 0 0 1 7.5 2.02v.48a.5.5 0 0 0 1 0v-.48a6 6 0 0 1 5.48 5.48h-.48a.5.5 0 0 0 0 1h.48a6 6 0 0 1-5.48 5.48v-.48a.5.5 0 0 0-1 0v.48A6 6 0 0 1 2.02 8.5h.48a.5.5 0 0 0 0-1zM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
      </svg></button>

    <button *ngIf="!isNavigationOn" type="button" id="navigationButton" class="btn btn-Light"
      (click)="StartStopNavigation()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-sign-turn-right" viewBox="0 0 16 16">
        <path
          d="M5 8.5A2.5 2.5 0 0 1 7.5 6H9V4.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L9.41 8.658A.25.25 0 0 1 9 8.466V7H7.5A1.5 1.5 0 0 0 6 8.5V11H5z" />
        <path fill-rule="evenodd"
          d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.48 1.48 0 0 1 0-2.098zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134Z" />
      </svg></button>
    <button *ngIf="isNavigationOn" type="button" id="navigationButton" #navigationButton class="btn btn-Light"
      (click)="StartStopNavigation()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-sign-stop" viewBox="0 0 16 16">
        <path
          d="M3.16 10.08c-.931 0-1.447-.493-1.494-1.132h.653c.065.346.396.583.891.583.524 0 .83-.246.83-.62 0-.303-.203-.467-.637-.572l-.656-.164c-.61-.147-.978-.51-.978-1.078 0-.706.597-1.184 1.444-1.184.853 0 1.386.475 1.436 1.087h-.645c-.064-.32-.352-.542-.797-.542-.472 0-.77.246-.77.6 0 .261.196.437.553.522l.654.161c.673.164 1.06.487 1.06 1.11 0 .736-.574 1.228-1.544 1.228Zm3.427-3.51V10h-.665V6.57H4.753V6h3.006v.568H6.587Z" />
        <path fill-rule="evenodd"
          d="M11.045 7.73v.544c0 1.131-.636 1.805-1.661 1.805-1.026 0-1.664-.674-1.664-1.805V7.73c0-1.136.638-1.807 1.664-1.807s1.66.674 1.66 1.807Zm-.674.547v-.553c0-.827-.422-1.234-.987-1.234-.572 0-.99.407-.99 1.234v.553c0 .83.418 1.237.99 1.237.565 0 .987-.408.987-1.237m1.15-2.276h1.535c.82 0 1.316.55 1.316 1.292 0 .747-.501 1.289-1.321 1.289h-.865V10h-.665zm1.436 2.036c.463 0 .735-.272.735-.744s-.272-.741-.735-.741h-.774v1.485z" />
        <path fill-rule="evenodd"
          d="M4.893 0a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146A.5.5 0 0 0 11.107 0zM1 5.1 5.1 1h5.8L15 5.1v5.8L10.9 15H5.1L1 10.9z" />
      </svg></button>

    <button *ngIf="isUserLoggedIn" type="button" id="addMarkerButton" class="btn btn-Light"
      (click)="AddNewFireHydrantPOI()" [disabled]="isAddNewLocationActive"><svg xmlns="http://www.w3.org/2000/svg"
        width="16" height="16" fill="currentColor" class="bi bi-pin-map-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8z" />
        <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z" />
      </svg></button>

    <div *ngIf="isAddNewLocationActive" id="addMarkerAlert" class="alert alert-primary" role="alert">
      Πατήστε στο χάρτη για προσθήκη σημείου.
    </div>

    <div *ngIf="isMoveMarkerActive" id="moveMarkerAlert" class="alert alert-primary" role="alert">
      Σείρετε το σημείο για μετακίνηση.
      <button type="button" id="cancelMoveMarker" class="btn btn-Light btn-sm" (click)="CancelMoveMarker()">
        Άκυρο
      </button>
    </div>

    <button *ngIf="!isUserLoggedIn" type="button" id="loginButton" class="btn btn-Light" (click)="UserLogin()"><svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z" />
        <path fill-rule="evenodd"
          d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
      </svg></button>

    <button *ngIf="isUserLoggedIn" type="button" id="loginButton" class="btn btn-Light"
      (click)="ManageUserAccount()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-person-fill-check" viewBox="0 0 16 16">
        <path
          d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
        <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
      </svg></button>

    <div *ngIf="isChangePasswordSuccessfull" #changePasswordSuccessfullAlert id="changePasswordSuccessfullAlert"
      class="alert alert-success text-center" role="alert">
      Επιτυχής ενημέρωση κωδικού πρόσβασης!
    </div>

  </div>
</div>